@use "../abstracts" as a;

.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding-block: a.rem(100);
    width: 100%;

    &__content {
        @include a.flexbox($direction: column, $align: center, $gap: a.rem(40));

        @include a.bp($from: "desktop") {
            @include a.flexbox($direction: row, $align: center, $justify: space-between);
        }
    }

    &-left,
    &-right {
        @include a.flexbox($direction: column, $justify: center, $gap: a.rem(40));
    }

    &__links-container {
        @include a.flexbox($direction: column, $align: center, $gap: a.rem(20));

        @include a.bp($from: "desktop") {
            @include a.flexbox(
                $direction: row,
                $align: center,
                $justify: space-between,
                $gap: a.rem(24)
            );
        }
    }

    &__social-links-container {
        @include a.flexbox($align: center, $justify: center, $gap: a.rem(18));

        @include a.bp($from: "desktop") {
            align-self: flex-end;
        }
    }

    &__copyright-notice {
        color: var(--color-grey-200);
    }
}
